{% extends "base.html" %}{% block title %}
<title>Algorithm Information</title>
{% endblock %} {% block main %}
<!--./ Top Menu End -->
<div class="general-subhead">
    <h3 style="display:inline-block; margin-right:10px">
  <a href=""><i class="glyphicon glyphicon-chevron-left"></i></a>
</h3>
    <h1 style="display:inline-block">演算法資訊</h1>
</div>
<!--./ Gereral Subhead End -->
<section>
    <div class="container">
        <div class="blog-single">
            <div class="page-header">
                <h1><strong>演算法名稱01</strong></h1>
            </div>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>描述</strong></h2>
                    <br>
                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <strong>    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>

                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>使用方法</strong></h2>
                    <br>
                    <pre>
          ####some coding language####
          ####some coding language#### ####some coding language####
          ####some coding language#### ####some coding language#### ####some coding language####
          ####some coding language#### ####some coding language####
        </pre>

                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>數據時間</strong></h2>
                    <br>
                    <h4>2010/01/01 - 2017/03/03</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1 col-xs-1"></div>
                <div class="col-md-3 col-xs-3 col-xs-3">
                    <h2><strong>開發者</strong></h2>
                    <br>
                    <h4><a href="">Developer</a></h4>
                </div>
                <div class="col-md-3 col-xs-3 col-xs-3">
                    <h2><strong>發布日期</strong></h2>
                    <br>
                    <h4>2010/01/01</h4>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-xs-3">
                    <h2><strong>最近更新日期</strong></h2>
                    <br>
                    <h4>2017/03/03</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>定價</strong></h2>
                    <br>
                    <h4>NTD $120 /月</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-4 col-xs-3"></div>
                <div class="col-md-4 col-xs-6">
                    <button class="btn btn-lg btn-block">購買</button>
                </div>
            </div>
            <hr>
        </div>


        <div class="row blog-comments">
            <h2 class="page-header"><strong>評論 :</strong></h2>
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-9 col-xs-9">

                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa. Maecenas eget congue dui. Vestibulum et eros consectetur, interdum nibh et, volutpat dolor.
                            </p>
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa. Maecenas eget congue dui. Vestibulum et eros consectetur, interdum nibh et, volutpat dolor.
                            </p>
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa. Maecenas eget congue dui. Vestibulum et eros consectetur, interdum nibh et, volutpat dolor.
                            </p>
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa. Maecenas eget congue dui. Vestibulum et eros consectetur, interdum nibh et, volutpat dolor.
                            </p>
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">#USER NAME#</h4>
                            <form>
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">回應此主題</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--./ footer-sec  End -->
<div id="footser-end">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-xs-12">
                2014 All Rights Reserved | by: <a href="http://binarytheme.com" target="_blank" style="color:#fff">www.binarytheme.com</a>

            </div>
        </div>

    </div>
</div>
<!--./ footer-end End -->

{% endblock %}
