{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>Wotan</title>
{% endblock %} {% block main %}
<div id="index2-header">
    <div class="overlay">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h1>歡迎來到 WOTAN </h1>
                    <p>
                        這是一個提供演算法交易的平台，您可以編撰自己的演算法，亦可瀏覽或購買其他優秀的演算法
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" style="padding-left:50px;padding-right:50px;">開始體驗</button>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
<section id="home-service" style="margin-top:20px;">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-4  col-sm-4 ">
                <i class="fa fa-desktop fa-5x  icon-round  faa-ring animated"></i>
                <h4><strong>即時觀測</strong> </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4">
                <i class="fa fa-paper-plane-o  fa-5x icon-round  faa-pulse animated"></i>
                <h4><strong>簡單客製化</strong> </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4">
                <i class="fa fa-bullhorn  fa-5x icon-round faa-horizontal animated"></i>
                <h4><strong>快速瀏覽購買</strong></h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>

        </div>

    </div>
</section>
<!--./ Home Service End -->
<section id="vedio-sec">
    <div class="container">
        <div class="row pad-top-botm" style="text-align:center">
            <div class="col-lg-6 col-md-6">
                <h2>如何使用？ </h2>

                <!-- </div>

                <div class="col-lg-6 col-md-6"> -->
                <iframe class="vedio-style" src="https://www.youtube.com/embed/10Azx7egu8M"></iframe>

                <button class="btn btn-primary" type="button">
                        了解更多 <span class="badge">+</span>
                    </button>
            </div>

        </div>
    </div>
</section>
<section id="service-info">
    <div class="container">

        <div class="row pad-top-botm">
            <div class="col-lg-4 col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <i class=" fa fa-folder-open-o fa-4x rotate-icon "></i>

                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">開發</h3>
                        <p>
                            WOTAN提供Python語言的開發環境，您可以在編輯器裡編撰您獨創的基金演算法。 您隨時可以儲存編輯進度，日後再接續此進度進行編輯。
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-power-off fa-4x rotate-icon "></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">測試</h3>
                        <p>
                            Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-paper-plane-o fa-4x rotate-icon "></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">發布</h3>
                        <p>
                            Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                        <h1><strong>帳戶管理</strong> </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl
                            odio. Mauris vehicula at nunc id posuere.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                    <h1><strong>購買及使用</strong> </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl
                        odio. Mauris vehicula at nunc id posuere.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                        <h1><strong>評論</strong> </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl
                            odio. Mauris vehicula at nunc id posuere.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row pad-top-botm">
            <div class="col-lg-1 col-md-1">
                <h1><strong>成員</strong> </h1>

            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <img src="{% static 'assets/img/user2.png' %}">
                    <div class="media-body">
                        <h3 class="media-heading">JACKY CHEN</h3>
                        <p>
                            Aenean faucibus luctus enim.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <img src="{% static 'assets/img/user2.png' %}">
                    <div class="media-body">
                        <h3 class="media-heading">JACKY CHEN</h3>
                        <p>
                            Aenean faucibus luctus enim.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <img src="{% static 'assets/img/user2.png' %}">
                    <div class="media-body">
                        <h3 class="media-heading">JACKY CHEN</h3>
                        <p>
                            Aenean faucibus luctus enim.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <img src="{% static 'assets/img/user2.png' %}">
                    <div class="media-body">
                        <h3 class="media-heading">JACKY CHEN</h3>
                        <p>
                            Aenean faucibus luctus enim.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <img src="{% static 'assets/img/user2.png' %}">
                    <div class="media-body">
                        <h3 class="media-heading">JACKY CHEN</h3>
                        <p>
                            Aenean faucibus luctus enim.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div>
</section>

<div id="footser-end">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                2014 All Rights Reserved | by: <a href="http://binarytheme.com" target="_blank" style="color:#fff">www.binarytheme.com</a>

            </div>
        </div>

    </div>
</div>

{% endblock %}
