{% extends "base.html" %} {% block title %}
<title>使用者頁面</title>
{% endblock %} {% block main %}
<!--./ Social Div End -->
<div class="general-subhead">
	<h3 style="display:inline-block; margin-right:10px">
				<a href=""><i class="glyphicon glyphicon-chevron-left"></i></a>
			</h3>
	<h1 style="display:inline-block">{USERNAME}</h1>
</div>
<!--./ Gereral Subhead End -->

<section>
	<div class="container" id="jQuery-tab">


		<br/>
		<ul class="nav nav-pills clearfix">
			<li role="presentation" class="active"><a href="#tab1">已購買</a></li>
			<li role="presentation"><a href="#tab2">已上架</a></li>
			<!-- 	    			<li role="presentation"><a href="#">草稿</a></li> -->
		</ul>
		<br>

		<!-- List Start -->

		<!-- first page -->
		<div id="tab1" class="content">
			<div class="panel panel-default">
				<div class="panel-heading">

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<h5>標題</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<h5>提供者</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<h5>剩餘時間</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<h5>收費方式</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

						</div>
					</div>
				</div>



				<div class="list-group">


					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>IOT and bigdata</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>28days left</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<br>
							<h5>$ 120 /月</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-info">使用</button>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>IOT and bigdata</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>28days left</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<br>
							<h5>$ 120 /月</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-info">使用</button>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>IOT and bigdata</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>28days left</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<br>
							<h5>$ 120 /月</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-info">使用</button>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>IOT and bigdata</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>28days left</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<br>
							<h5>$ 120 /月</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-info">使用</button>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>IOT and bigdata</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>28days left</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<br>
							<h5>$ 120 /月</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-info">使用</button>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>IOT and bigdata</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>28days left</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
							<br>
							<h5>$ 120 /月</h5>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-info">使用</button>

						</div>
					</div>


				</div>

			</div>

			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- 第二層 -->
		<div id="tab2" class="content">
			<div class="panel panel-default">
				<div class="panel-heading">

					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h5>標題</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<h5>最後修改</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<h5>收費方式</h5>
						</div>
					</div>
				</div>



				<div class="list-group">


					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>2017/03/04 23:59:59</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br>
							<h5>$ 120 /月</h5>
						</div>

						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-primary" onclick="location.href='my_design_sales-status.html'">獲利狀況</button>


						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>2017/03/04 23:59:59</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br>
							<h5>$ 120 /月</h5>
						</div>

						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-primary" onclick="location.href='my_design_sales-status.html'">獲利狀況</button>


						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>2017/03/04 23:59:59</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br>
							<h5>$ 120 /月</h5>
						</div>

						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-primary" onclick="location.href='my_design_sales-status.html'">獲利狀況</button>


						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>2017/03/04 23:59:59</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br>
							<h5>$ 120 /月</h5>
						</div>

						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-primary" onclick="location.href='my_design_sales-status.html'">獲利狀況</button>


						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>2017/03/04 23:59:59</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br>
							<h5>$ 120 /月</h5>
						</div>

						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-primary" onclick="location.href='my_design_sales-status.html'">獲利狀況</button>


						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="my_design_product-info2.html" class="list-group-item userpage-item">
								<h2>List group item heading</h2>
								<p>List group item heading List group item heading List group item heading</p>
							</a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br/>
							<h5>2017/03/04 23:59:59</h5>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<br>
							<h5>$ 120 /月</h5>
						</div>

						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

							<br>
							<button type="button" class="btn  btn-primary" onclick="location.href='my_design_sales-status.html'">獲利狀況</button>


						</div>
					</div>

				</div>

			</div>
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>



</section>
{% endblock %} {% block otherjs %}
<script type="text/javascript">
	$().ready(function() {
		var $li = $('ul.clearfix li');

		$($li.eq(0).addClass('active').find('a').attr('href')).siblings('.content').hide();

		$li.click(function() {
			$($(this).find('a').attr('href')).show().siblings('.content').hide();
			$(this).addClass('active').siblings('.active').removeClass('active');
		});
	});
</script>
{% endblock %}
